@charset "utf-8";


/* Tag
======================================*/
body {
	margin: 0px;
	padding: 0px;
}

form {
	display: inline;
}
input:hover { background: #FFCC77; }
textarea:hover { background: #FFCC77; }

ul {
	list-style: none;
}

img { vertical-align: middle; }


/* Header
======================================*/
#header {
	background-image: url(../images/icons/header_back.jpg);
	background-repeat: repeat-x;
	height: 145px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

.top_title {
	height: 79px;
	width: 800px;
	background-image: url(../images/icons/header_bar-1.jpg);
}

.navi {
	background-image: url(../images/icons/header_bar-2.jpg);
	background-repeat: no-repeat;
	height: 39px;
	width: 800px;
	margin: 0px;
	padding: 0px;
}
.sitenavi {
	width: 320px;
	margin: 0px;
	margin-right: 10px;
	margin-left: auto;
	padding: 0px;
}
.navi ul {
	margin-left: auto;
}
.navi ul li {
	float: left;
	margin: 0;
	padding: 0;

}
.navi .sitenavi {
	margin-right: 10px;
	height: 39px;
	background-image: url(../images/icons/header_bar-2.jpg);
}
.navi .sitenavi a:link {
	line-height: normal;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 14px;
}
.navi .sitenavi a:visited {
	line-height: normal;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 14px;
}
.navi .sitenavi a:hover {
	line-height: normal;
	color: #FFCC00;
	text-decoration: underline;
	font-size: 14px;
}
.navi .sitenavi .menu_1 {
}
.navi .sitenavi .menu_2 {
	margin-right: 20px;
	margin-top: 12px;
}

.top_kage {
	background-image: url(../images/icons/header_bar-3.jpg);
	background-repeat: no-repeat;
	height: 27px;
	width: 800px;
}


/* Footer
======================================*/
#footer {
	background-image: url(../images/icons/footer_back.jpg);
	background-repeat: repeat-x;
	height: 150px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
	clear: both;
}
#footer .copylight {
	font-size: 10px;
	line-height: 15px;
	color: #666666;
	background-image: url(../images/icons/footer_back_main.jpg);
	background-repeat: no-repeat;
	height: 150px;
	width: 800px;
	letter-spacing: 1px;
	text-align: center;
	padding-top: 15px;
	font-size: 10px;
	clear: both;
}


/* Main
======================================*/
#main {
	background-color: #FFFFFF;
	background-image: url(../images/icons/main_back.jpg);
	background-repeat: repeat-y;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 20px;
}

.title_banner {
	height: 70px;
	text-align: center;	
}

.outer_frame {
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	margin-bottom: 0px;
	width: 70%;
	font-size: 14px;
	color: #333333;
	border: 1px solid #CC9933;
	padding: 10px;
	text-align: left;
	background-color: #F4F2DB;
}

.center {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
    display: block;
}

.button {
	width: 100px;
}

.error {
	color:#990000;
	font-size:12px;
}

.image_left {
	text-align: left;
	margin-left: 50px;
	margin-top: 30px;
}

#image-btn {
	border: 0px;
	width: 35px;
	height: 35px;
	margin-left: 60px;
	margin-right: 60px;
	background: url(../images/icons/edit_button.jpg) no-repeat;
	background-position: center;
	background-position: bottom;
}

#image-login-btn {
	border: 0px;
	width: 70px;
	height: 70px;
	background: url(../images/icons/login-image.png) no-repeat;
	background-position: center;
}

#image-add-button {
	border: 0px;
	width: 100px;
	height: 70px;
	background: url(../images/icons/add_logo.png) no-repeat;
	background-position: center;
}

#image-edit-button {
	border: 0px;
	width: 150px;
	height: 60px;
	background: url(../images/icons/edit_logo.png) no-repeat;
	background-position: center;
}

#image-delete-button {
	border: 0px;
	width: 150px;
	height: 80px;
	background: url(../images/icons/delete_logo.jpg) no-repeat;
	background-position: center;
}

.defineTable {
	width: auto;
	margin:0 auto;
	text-align: center;
	table-layout: fixed;
	border-collapse: collapse;
}

td, th {
	padding: 4px 4px;
}